@import '../styles/mixins';

.container {
   display: grid;
   grid-template-rows: 20% 60% 20%;
   @media only screen and (max-width: 600px) {
      grid-template-rows: 5% 90% 5%;
   }
   height: 100vh;
   background: url('/images/kanye.png') 100% 100%;
}

.header {
   grid-row: 1 / 2;
   height: 100%;
   @include flex;
   .title {
      @include flex;
      @media only screen and (max-width: 600px) {
         display: none;
      }
      max-width: 70%;
      max-height: 100%;
      height: max-content;
      font-size: 3rem;
      background-color: var(--orange);
      border: 1px solid var(--orange);
      border-radius: 20px;
      color: whitesmoke;
   }
   .profile {
      max-width: 20%;
      position: fixed;
      top: 30px;
      right: 30px;
      &:hover {
         .profileMenu {
            display: flex;
         }
      }
   }
   .profileIcon {
      @include flex($justify: flex-end);
      img {
         &:hover {
            cursor: pointer;
         }
      }
   }
   .profileMenu {
      max-width: 100%;
      display: none;
      ul {
         list-style-type: none;
         width: 150px;
         margin: 10px;
         padding: 5px;
         border: 1px solid whitesmoke;
         border-radius: 5px;
         background-color: whitesmoke;
         li {
            @include flex;
            padding: 5px;
            border-bottom: 0.01rem solid #cccccc;
            &:hover {
               cursor: pointer;
               background: #cccccc;
            }
         }
         li a {
            color: black;
            text-decoration: none;
         }
      }
   }
}

.main {
   height: 100%;
   grid-row: 2 /3;
   @include flex($direction: column);
   .content {
      max-width: 80%;
      max-height: 80%;
      @media only screen and (max-width: 600px) {
         max-width: 90%;
         max-height: 100%;
      }
   }
}
