@import '../styles/mixins';

.container {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 100vh;
    background: url("/images/kanye.png") 100% 100%;
}

.header {
    grid-row: 1 / 2;
    height: 100%;
    @include flex;
    @media only screen and (max-width: 900px) {
        @include flex($justify: flex-end);
    }
    .title{
        @include flex;
        @media only screen and (max-width: 900px) {
            display: none;
        }
        width: 90%;
        height: 100%;
        font-size: 3rem;
        color: #CCCC00;
    }
    .homeLink {
        @include flex;
        width: 10%;
        height: 100%;
        .logo{
            width: 50px;
            height: 50px;
            position: fixed;
            top: 30px;
            right: 30px;
            &:hover{
                cursor: pointer;
                transform: scale(1.1)
            }
        }
    }
}

.main {
    height: 100%;
    grid-row: 2 /3;
    @include flex;
    .content{
        @include flex;
        max-width: 80%;
        padding: 5px 10px;
        border-radius: 25px;
        box-shadow: 0 0 1px 3px rgb(1, 7, 12);
        background-color: whitesmoke;
        outline: none;
        &:hover{
            cursor: pointer;
            border: 1px solid var(--outline-blue);
            box-shadow: 0 0 3px 3px var(--outline-blue);
        }
        .quote {
            opacity: 1;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.footer {
    height: 100%;
    width: 100%;
    grid-row: 3 / 4;
    @include flex;
    .plus{
        height: 100%;
        @include flex;
        img{
            width: 70%;
            height: 70%;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}
