@mixin flex($direction: row, $justify: center, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin interactive-border($emphasis: 0){
  @if $emphasis == 1 {
    border: 4px solid var(--outline-blue-bright);
    box-shadow: 0 0 4px 4px var(--outline-blue-bright);
  }
  @else{
    border: 3px solid var(--outline-blue);
    box-shadow: 0 0 3px 3px var(--outline-blue);
  }

  border-radius: 25px;
}