
:root{
  --outline-blue: rgb(71, 131, 180);
  --outline-blue-bright: rgb(0, 131, 180);
  --orange: #FF6633;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

h1, p{
  margin: 0
}